.login_header_my {
  width: 100%;
  min-width: 1200px;
  height: 80px;
  background: #25b887;
}

.login_footer_my {
  background: #fff;
  width: 100%;
  min-width: 1200px;
  text-align: center;
  color: #666;
  padding: 25px 0;
  line-height: 30px;
  position: fixed;
  bottom: 0;
  font-size: 12px;
}

.logon_centerBg {
  width: 100%;
  min-width: 1200px;
  padding: 50px 0 20px;
  background: #f0f4f3;
  min-height: 468pxpx;
}

.login-box-my {
  position: relative;
  width: 588px;
  height: 400px;
  margin: 0 auto;
  padding-top: 30px;
  background: #fff;
  box-shadow: -2px 0 2px #ebefee, 4px 0 4px #e1e5e4, 0 -1px 1px #eef2f1, 0 5px 5px #dce0df;
}

.ch-robot {
  position: absolute;
  right: -60px;
  top: 0;
  display: block;
  width: 50px;
  height: 77px;
  margin-bottom: 10px;
  background: url(https://t4.chei.com.cn/common/images/help/jqr.png) no-repeat;
}

.container {
  background: #f0f4f3;

}

.cr_top_my {
  width: 358px;
  margin: 16px auto 0;
  padding-bottom: 24px;
}

.ct_input {
  margin-top: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
  padding: 12px 0 12px 12px;
}

.input_text {
  border: none;
  height: 32px;
}

.ct_img_ma {
  width: 16px;
  height: 16px;
  background: url('../../../static/img/icon_input.png') no-repeat 0 0;
}

.ct_img_yhm {
  width: 16px;
  height: 16px;
  background: url('../../../static/img/icon_input.png') no-repeat -16px 0;
}

.btn_login {
  width: 358px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid #25b887;
  background-color: #25b887;
  background-image: none;
  margin-top: 20px;
  margin-bottom: 14px;
}

.wx-container {
  padding-top: 10px;
  border-top: 1px solid #E6E6E6;
  color: #666;
}
input{
  border: none !important;
}