@import url('./static/style/public.css');
.width1180 {
  width: 1180px;
  margin: 0 auto;
}
.width1180x {
  width: 1180px;
  margin: 0 auto;
}
.width1100 {
  width: 1100px;
  margin: 0 auto;
}
.width1200 {
  width: 1200px;
  margin: 0 auto;
}
.width960 {
  width: 960px;
  margin: 0 auto;
}