.wap-footer {
	line-height: normal;
	background: #282828;
	color: #969696;
	font-size: 0.32rem;
	line-height: 0.44rem;
	padding: 32px 16px 12px;
}

.wap-footer a {
	color: #969696;
	text-decoration: none;
}

.wap-footer .wap-footer-list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: left;
}

.wap-footer .wap-footer-list .footer-a-wrap {
	display: inline-block;
	width: 20%;
	margin-bottom: 17px;
}

.wap-footer .wap-footer-units {
	margin-top: 0.413rem;
	line-height: 0.587rem;
	line-height: 1.6;
	padding-right: 0.4rem;
}

.wap-footer .wap-footer-units .list {
	margin-bottom: 17px;
	text-align: left;
}

.wap-footer.wap-footer2 {
	padding: 0.333rem;
	text-align: center;
	line-height: 0.573rem;
}
