@charset "utf-8";

@font-face {
	font-family: 'rare-words-font';
	src: url('./RareWordsFonts-v1.0.12.woff2') format('woff2'),
		url('./RareWordsFonts-v1.0.12.woff') format('woff'),
		url('./RareWordsFonts-v1.0.12.ttf') format('truetype');
}

.rare-words-font {
	font-family: "rare-words-font";
	font-style: normal;
}

.namtFamily {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", Arial, "sans-serif", SimSun, "rare-words-font";
}

.my-header {
	height: 45px;
}

.my-header a.logo {
	display: inline-block;
	width: 2.827rem;
	height: 0.533rem;
	margin-top: 0.32rem;
	background: url("../../../../images/logo.png") no-repeat;
	background-size: 100% 100%;
}

.vote-part .lxs-vote {
	color: #fa5050;
	background: #fff3f3 url("../../../../images/lxs-bg.png") no-repeat 6.48rem;
}

.vote-part .vote-jy-part {
	margin-top: 0.267rem;
	border-radius: 0.16rem;
	padding: 0.453rem 3.013rem 0.4rem 0.32rem;
	height: 1.28rem;
	background-size: 2.133rem;
}

.list-card a {
	width: 100%;
	color: #fff;
}

.list-card a .school {
	display: flex;
	justify-content: space-between;
}

.school .school-name {
	font-size: 16px;
	color: #fff;
}

.school .xueli-level1 {
	font-size: 12px;
	background: #1da36e;
	padding: 2px 8px;
	border-radius: 10px;
	color: #fff;

}

.school .xueli-level2 {
	font-size: 12px;
	background: #2b77c7;
	padding: 2px 8px;
	border-radius: 10px;
	color: #fff;
	height: 18px;

}

.zhuanyet {
	text-align: left;
	padding-top: 10px;
	color: #fff;

}

.text-l {
	text-align: left !important;
}