.login_header_my {
	width: 100%;
	min-width: 1200px;
	height: 80px;
	background: #25b887;
}

.login_footer_my {
	background: #fff;
	width: 100%;
	min-width: 1200px;
	text-align: center;
	color: #666;
	padding: 25px 0;
	line-height: 30px;
	position: fixed;
	bottom: 0;
	font-size: 12px;
}

.logon_centerBg {
	width: 100%;
	min-width: 1200px;
	padding: 0 0 20px;
	background: #f0f4f3;
	min-height: 468pxpx;
}

.header-nav {
	zoom: 1;
	float: left;
	display: inline;
	height: 80px;
	line-height: 80px;
	margin-left: 60px;
	margin-left: 10px;
	font-size: 16px;
}

.header-nav .header-nav-bg {
	position: absolute;
	width: 100%;
	height: 190px;
	background: #eafbf5;
	opacity: .9;
	left: 0;
	top: 80px;
	z-index: 9
}

.header-nav dl {
	float: left;
	font-size: 16px;
	z-index: 10;
	position: relative;
}

.header-nav dl:first-child dd {
	border-left: 0
}

.header-nav dl:hover dt {
	color: #fff;
	background: #0f9d6d
}

.header-nav dl:hover dt a.xz-link {
	color: #fff
}

.header-nav dl:hover dd {
	background: #e0f0eb
}

.header-nav dt {
	font-weight: 500;
	text-align: center;
	padding: 0 12px;
	position: relative;
	cursor: pointer;
}

.header-nav dt,
.header-nav dt a.xz-link {
	line-height: 80px
}

.header-nav dt a.jy-link {
	display: inline-block;
	width: 48px;
	text-align: center
}

.header-nav dd {
	display: none;
	width: 100%;
	height: 182px;
	padding: 4px 0;
	z-index: 10;
	overflow: hidden;
	font-size: 14px;
	border-left: 1px solid #e0f0eb
}

.header-nav ul {
	text-align: center;
	height: 100%;
	padding: 0
}

.header-nav ul li {
	margin: 0;
	line-height: 30px;
	display: block;
	float: none;
	color: #666;
	cursor: pointer
}

.header-nav ul li:hover {
	color: #25b887
}

.header-nav .sanjiao {
	display: none;
	position: absolute;
	margin-left: -8px;
	left: 50%;
	bottom: 0;
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 8px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #fff
}

.header-nav a {
	line-height: 30px;
	display: inline-block;
	width: 100%
}

.header-nav .active {
	color: #fff
}

.header-nav .active a {
	color: #666
}

.header-nav .active .sanjiao {
	display: block
}

.header-nav:hover {
	text-decoration: none
}

.sub_nav {
	min-width: 1180px;
	color: #666;
	background: #fff;
	height: 50px
}

.main-entry {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 910px;
}

#jycyContent {
	background-color: #fff;
}

.header-nav {
	zoom: 1;
	float: left;
	display: inline;
	height: 80px;
	line-height: 80px;
	margin-left: 60px;
	margin-left: 10px;
	font-size: 16px;
	/* *margin-top: -30px */
}

.header-nav .header-nav-bg {
	position: absolute;
	width: 100%;
	height: 190px;
	background: #eafbf5;
	opacity: .9;
	left: 0;
	top: 80px;
	z-index: 9
}

.header-nav dl {
	float: left;
	font-size: 16px;
	z-index: 10;
	position: relative;
	/* *width: 150px */
}

.header-nav dl:first-child dd {
	border-left: 0
}

.header-nav dl:hover dt {
	color: #fff;
	background: #0f9d6d
}

.header-nav dl:hover dt a.xz-link {
	color: #fff
}

.header-nav dl:hover dd {
	background: #e0f0eb
}

.header-nav dt {
	font-weight: 500;
	text-align: center;
	padding: 0 12px;
	position: relative;
	cursor: pointer;
	/* *padding-top: 30px */
}

.header-nav dt,
.header-nav dt a.xz-link {
	line-height: 80px
}

.header-nav dt a.jy-link {
	display: inline-block;
	width: 48px;
	text-align: center
}

.header-nav dd {
	display: none;
	width: 100%;
	height: 182px;
	padding: 4px 0;
	z-index: 10;
	overflow: hidden;
	font-size: 14px;
	border-left: 1px solid #e0f0eb
}

.header-nav ul {
	text-align: center;
	height: 100%;
	padding: 0
}

.header-nav ul li {
	margin: 0;
	line-height: 30px;
	display: block;
	float: none;
	color: #666;
	cursor: pointer
}

.header-nav ul li:hover {
	color: #25b887
}

.header-nav .sanjiao {
	display: none;
	position: absolute;
	margin-left: -8px;
	left: 50%;
	bottom: 0;
	/* *bottom: 30px; */
	width: 0;
	height: 0;
	font-size: 0;
	border-width: 8px;
	border-style: dashed dashed solid;
	border-color: transparent transparent #fff
}

.header-nav a {
	line-height: 30px;
	display: inline-block;
	width: 100%
}

.header-nav .active {
	color: #fff
}

.header-nav .active a {
	color: #666
}

.header-nav .active .sanjiao {
	display: block
}

.header-nav:hover {
	text-decoration: none
}

dt {
	color: #d6f8e4;
}

.sub_nav {
	min-width: 1180px;
	color: #666;
	background: #fff;
	height: 50px;
}

.sub_nav_mian {
	height: 50px;
}

#nav-second {
	height: 50px;
}

.xz-link {
	color: #d6f8e4 !important;

}
.jy-link{
	color: #d6f8e4 !important;  

}