.educationQueryPage {
  width: 1180px;
  height: calc(100vh - 309px);
  margin: 0 auto;
  clear: both;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.content-block{
  background-color: #fff;

}
.r-main {
  width: 890px;
  padding-bottom: 30px;
  height: 100%;

}

.r-side {
  width: 260px;
  height: 100%;
  border-left: 1px solid #ebebeb;
}
.b-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 16px;
  padding: 20px 0 0;
  align-items: center;
}
.b-head .more {
  font-size: 16px;
  line-height: 40px;
}
h4.main_title {
  height: 40px;
  line-height: 30px;
  font-size: 24px;
  background: url('../../../static/img/index-tit-bg.png') no-repeat 0 15px;
}
.b-body {
  padding-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: start;
  align-items: flex-start;
}
.b-body .m_f_div {
  width: 276px;
  height: 290px;
  background-color: #f6f9f9;
  border-radius: 4px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
}
.brcx-icon, .lscx-icon, .qyecx-icon {
  width: 30px;
  height: 30px;
  margin: 45px auto 15px;
  background-image: url('../../../static/img/xlcx_enter.png');
  background-repeat: no-repeat;
}
.b-body .m_f_div .description {
  margin-top: 16px;
  height: 86px;
  padding: 0 24px;
  color: #889098;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}
.b-body .m_f_div a.btn_blue {
  width: 100px;
  height: 34px;
  line-height: 34px;
  background: #00bac7;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
}
.b-body .m_f_div h3 {
  font-size: 18px;
  line-height: 18px;
}
.b-body .m_f_div .description a {
  color: #00bac7;
  margin-top: 22px;
}
.b-body .m_f_div .m_f_div_btn {
  margin-top: 14px;
}
.lscx-icon {
  background-position: -31px 0;
}
.qyecx-icon {
  background-position: -62px 0;
}

.b-bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #889098;
}
.js_report_r {
  height: 100px;
  background: #f3f5fe;
  border-radius: 4px;
  padding-left: 56px;
  background: url('../../../static/img/bgjs_bg.jpg') 50% no-repeat;
}
.js_report_r .sub-description {
  float: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  width: 570px;
  height: 100%;
  padding-left: 87px;
}
.js_report_r .enter {
  float: right;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 35px;
  height: 100px;
  line-height: 100px;
  font-size: 0;
}
.js_report_r .enter a.colorBlue {
  display: inline-block;
  width: 94px;
  height: 30px;
  font-size: 14px;
  margin-right: 15px;
  line-height: 30px;
  text-align: center;
  background: #f3f5fe;
  border: 1px solid #a3b1bf;
  border-radius: 16px;
  color: #6d8093;
}
.xl_js_r {
  background: url('../../../static/img/xlbg_icon.jpg') 0 no-repeat;
}
.js_report_r .sub-description h3 {
  height: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #5e6975;
  line-height: 30px;
}
.js_report_r .sub-description p {
  margin-top: 6px;
  padding: 0;
  font-size: 14px;
  color: #6d8093;
  line-height: 24px;
}
.m_r .r-head {
  font-size: 18px;
  line-height: 100%;
  color: #889098;
  padding-left: 20px;
  margin-bottom: 24px;
}

.r-side {
  width: 260px;
  height: 100%;
  border-left: 1px solid #ebebeb
}

.m_r {
  padding-top: 40px
}

.m_r a {
  color: #2a3839
}

.m_r a:hover {
  color: #00bac7;
  text-decoration: none
}

.m_r .r-head {
  font-size: 18px;
  line-height: 100%;
  color: #889098;
  padding-left: 20px;
  margin-bottom: 24px
}

.m_r .r-head.r-head-lscx {
  border-left: 3px solid #00bac7;
  padding-left: 17px;
  line-height: 20px;
  margin-bottom: 18px
}

.m_r .r-side-title {
  line-height: 18px;
  padding-left: 20px;
  margin-bottom: 11px
}

.m_r .r-side-title a {
  font-size: 16px
}

.m_r .m_cnt_s {
  margin: 0;
  padding: 0 0 0 20px
}

.m_r .m_cnt_s p {
  color: #889098;
  font-size: 14px;
  line-height: 22px
}

.m_r .m_cnt_s li {
  line-height: 100%;
  margin-top: 24px
}

.m_r .m_cnt_s li a {
  text-decoration: none
}

.m_r .devider {
  margin: 24px 0;
  width: 100%;
  height: 1px;
  overflow: hidden;
  background-color: #ebebeb
}

.m_r .devider.lscx-devider {
  margin: 16px 0 16px 20px;
  width: auto
}
