.width1180 {
	width: 1180px;
	margin: 0 auto;
}

.part01 {
	background-color: #fff;
	padding: 20px 0 50px;
}

.news-left {
	width: 710px;
	line-height: 40px;
	padding-top: 16px;
	border-radius: 4px;
	padding: 20px;
	background: linear-gradient(180deg, #f9f9fc, #fff);
}

.font20 {
	line-height: 50px;
	font-size: 20px;
}

.color-red {
	color: #d94840;
}

.color-red:hover {
	color: #d94840;
	text-decoration: underline;
}

.colorBlue,
a.colorBlue,
a.colorBlue:link,
a.colorBlue:visit {
	color: #00bac7;
}

.news-right {
	padding-top: 2px;
	width: 450px;
}

.news-bg {
	border-radius: 4px;
	padding: 20px;
	background: linear-gradient(180deg, #f9f9fc, #fff);
}

.new-r-top {
	display: flex;
}

.new-r-top span {
	position: relative;
	display: block;
	-ms-flex: 1;
	flex: 1;
	height: 21px;
}

.new-r-top span:after {
	position: absolute;
	display: block;
	content: "";
	height: 1px;
	width: 261px;
	background: #e0e2e4;
	top: 15px;
	left: 101px;
}

ul {
	display: block;
}

.new-r-list {
	margin-top: 6px;
	line-height: 37px;
	width: 450px;
}

.new-r-list li:after {
	position: absolute;
	display: block;
	content: "";
	width: 5px;
	height: 5px;
	background: linear-gradient(-55deg, #ff7b7f, #ffbc46);
	border-radius: 50%;
	top: 16px;
	left: 0;
}

.ksrk {
	border-radius: 4px;
	display: -ms-flexbox;
	display: flex;
	background: #f2f4f8;
	width: 1180px;
	margin: 0 auto;
}

.ksrk-1 {
	border-radius: 4px;
	position: relative;
	width: 127px;
	background: url("https://t2.chei.com.cn/chsi/assets/gb/pc/images/ksrk.png") 50% no-repeat, linear-gradient(-30deg, #3ab2c2, #4fc8c3);
}

.ksrk-l:after {
	position: absolute;
	display: block;
	content: "";
	height: 0;
	width: 0;
	border-left: 8px solid #3ab6c7;
	border-right: 8px solid transparent;
	border-top: 13px solid transparent;
	border-bottom: 13px solid transparent;
	top: 50%;
	margin-top: -13px;
	right: -16px;
}

.ksrk-r {
	-ms-flex: 1;
	flex: 1;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 10px 0 10px 30px;
}

.ksrk-r a {
	margin-right: 2em;
	padding: 2px 0;
	margin-right: 2em;
	font-size: 14px;
	line-height: 30px;
}

.part02 {
	background: #f2f4f8;
	padding: 20px 0 30px;
	width: 1180px;
	margin: 0 auto;
}

.index-row {
	font-size: 16px;
	min-width: 1180px;
	color: #2a3839;
}

.part02 .card-wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.part02 .card {
	border-radius: 4px;
	position: relative;
	width: 373px;
	margin: 20px 15px;
	background: #fff url("https://t2.chei.com.cn/chsi/assets/gb/pc/images/part2_bg.jpg") 0 103px repeat-x;
}

.part02 .card:before {
	position: absolute;
	display: block;
	content: "";
	width: 373px;
	height: 103px;
	top: 0;
	left: 0;
	background: linear-gradient(-90deg, #a2d5d8, #b3d9e4);
	border-radius: 4px 4px 0 0;
}

.part02 .card-top {
	position: relative;
	margin: 20px auto;
	padding: 20px 20px 15px;
	width: 343px;
	background-color: #fff;
	color: #889098;
	line-height: 28px;
	font-size: 14px;
	border-radius: 4px;
}

.part02 .card-top h5.i01 {
	background-position: 0 0;
}

.part02 .card-top h5.i02 {
	background-position: 0 -51px;
}

.part02 .card-top h5.i03 {
	background-position: 0 -102px;
}
.part02 .card-top h5.i04 {
	background-position: 0 -153px;
}
.part02 .card-top h5.i05 {
	background-position: 0 -204px;
}
.part02 .card-top h5.i06 {
	background-position: 0 -255px;
}
.part02 .card-top h5.i07 {
	background-position: 0 -306px;
}
.part02 .card-top h5.i08 {
	background-position: 0 -357px;
}

.part02 .card-top h5.i09 {
	background-position: 0 -408px;
}

.part02 .card-top h5 {
	text-align: left;
	padding-left: 64px;
	margin-bottom: 4px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: #2a3839;
	background: url("https://t2.chei.com.cn/chsi/assets/gb/pc/images/part2-icon.png") no-repeat;
}

.part02 .card-bottom {
	padding: 8px 20px 30px;
}

.part02 .card-ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	line-height: 45px;
	width: 100%;
}

.part02 .card-ul li {
	-ms-flex: 1;
	flex: 1;
	padding-left: 20px;
}

.card-ul li.my-li {
	-ms-flex: none;
	flex: none;
}

.part02 .card-ul li a {
	color: #374546;
}

.part03 {
	min-width: 1180px;
	background-color: #fff;
	padding: 80px 0 30px;
	margin: 0 auto;
}

.part03 .part03-ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.part03 .part03-ul li {
	position: relative;
	width: 272px;
	margin-bottom: 50px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	transition: transform 0.2s;
}

.part03 .part03-ul a.sed-menu-a {
	border-radius: 4px;
	display: block;
	padding: 14px 0 10px;
	box-shadow: 0 0 15px 0 rgba(206, 224, 229, 0.8);
	text-decoration: none;
	transition: all 0.2s;
}

.part03 .part03-ul .icon {
	margin: 0 auto;
	width: 50px;
	height: 50px;
	background: url("https://t2.chei.com.cn/chsi/assets/gb/pc/images/part3-icon.png") no-repeat 0 0;
}

.part03 .part03-ul h5 {
	margin: 4px 0 2px;
	font-size: 18px;
}

.part03 .part03-ul .icon.icon_01 {
	background-position: 0 0;
}

.part03 .part03-ul .icon.icon_02 {
	background-position: -51px 0;
}

.part03 .part03-ul .icon.icon_03 {
	background-position: -102px 0;
}

.part03 .part03-ul .icon.icon_04 {
	background-position: -154px 0;
}

.part03 .part03-ul .icon.icon_05 {
	background-position: -204px 0;
}

.part03 .part03-ul .icon.icon_06 {
	background-position: -255px 0;
}

.part03 .part03-ul .icon.icon_07 {
	background-position: -306px 0;
}

.part03 .part03-ul .icon.icon_08 {
	background-position: -360px 0;
}

.part03 .part03-ul p {
	color: #889098;
}

a,
a:link,
a:visited {
	color: #2a3839;
	text-decoration: none;
}

.index-media {
	background: #f2f4f8;
	padding: 65px 0 80px;
	line-height: 40px;
	width: 1180px;
	margin: 0 auto;
}

.index-media .index-media-top,
.index-media ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.index-media-top > a,
a:link,
a:visited {
	color: #2a3839;
	text-decoration: none;
}

.row-tit {
	height: 52px;
	line-height: 40px;
	font-size: 30px;
	color: #000;
	background: url("https://t2.chei.com.cn/chsi/assets/gb/pc/images/index-tit-bg.png") no-repeat 0 26px;
}

.index-media ul {
	margin-top: 28px;
}
.index-media .index-media-top,
.index-media ul {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.index-media li {
	width: 212px;
	padding: 20px 0 15px;
	text-align: center;
	background: #fff url("https://t2.chei.com.cn/chsi/assets/gb/pc/images/wx-bg.png") no-repeat 100% 100%;
	box-shadow: 0 0 16px 0 hsla(0, 0%, 91%, 0.6);
	border-radius: 4px;
}

.index-media li img {
	width: 80px;
	height: 80px;
	vertical-align: middle;
}

.index-media li p {
	margin-top: 10px;
	font-size: 16px;
	line-height: 26px;
}

.index-other-link {
	padding: 65px 0 50px;
}

.row-tit {
	height: 52px;
	line-height: 40px;
	font-size: 30px;
	color: #000;
	background: url("https://t2.chei.com.cn/chsi/assets/gb/pc/images/index-tit-bg.png") no-repeat 0 26px;
}

.index-other-link ul {
	display: -ms-flexbox;
	display: flex;
	margin: 0 -10px;
	padding-top: 28px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.index-other-link li.link01 {
	background-position: 0 0;
}
.index-other-link li.link02 {
	background-position: 0 -51px;
}
.index-other-link li.link03 {
	background-position: 0 -102px;
}
.index-other-link li.link04 {
	background-position: 0 -153px;
}
.index-other-link li.link05 {
	background-position: 0 -204px;
}
.index-other-link li.link06 {
	background-position: 0 -255px;
}
.index-other-link li.link07 {
	background-position: 0 -306px;
}
.index-other-link li.link08 {
	background-position: 0 -357px;
}
.index-other-link li {
	width: 180px;
	height: 50px;
	margin: 10px;
	background: url("https://t2.chei.com.cn/chsi/assets/gb/pc/images/yq-links.png") no-repeat;
}

.index-other-link li a {
	border-radius: 4px;
	display: block;
	width: 180px;
	height: 50px;
	box-shadow: 0 0 8px 0 hsla(0, 0%, 91%, 0.8);
}

/* 底部样式 */
.foot-wrap,
.foot-wrap a,
.foot-wrap a:link,
.foot-wrap a:visited {
	color: hsla(0, 0%, 100%, 0.6);
}
.foot-wrap {
	background: #403e3f;
	padding: 23px 0;
	min-width: 1180px;
	line-height: 30px;
}

.foot-wrap .footer-nav {
	padding-bottom: 14px;
	text-align: center;
}

.foot-wrap .footer-nav a {
	margin-right: 42px;
}

.foot-wrap .footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	height: 50px;
	background-color: #403e3f;
}

.foot-wrap .footer-list {
	float: left;
	padding: 0 40px;
	position: relative;
}

.foot-wrap,
.foot-wrap a,
.foot-wrap a:link,
.foot-wrap a:visited {
	color: hsla(0, 0%, 100%, 0.6);
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}
.footer-list{
	/* height: 20px; */
}
.footer{
	/* display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px; */
}
.footer>div{
	/* height: 50px !important; */
}
.footer{
line-height: 30px !important;
}
