 .zxyz-left-menu {
  padding: 18px 0 24px
  
}
 .zxyz-left-menu:after {
  width: 0
}
 .zxyz-left-menu .a_active {
  color: #00bac7;
  background-color: #fafbfb
}
 .zxyz-left-menu a {
  font-size: 16px;
  line-height: 28px;
  padding: 13px 22px;
  border-bottom: 1px solid #e6e6e6;
  text-decoration: none
}
 .zxyz-left-menu a:after {
  content: "";
  display: block;
  width: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: transparent
}
 .zxyz-left-menu a.ivu-menu-item-active:not(.ivu-menu-submenu) {
  color: #00bac7;
  background-color: #fafbfb
}
 .zxyz-left-menu a.ivu-menu-item-active:not(.ivu-menu-submenu):after {
  width: 5px
}
 .zxyz-left-menu a:hover {
  color: #00bac7;
  background-color: #fafbfb
}
 .zxyz-left-menu a:hover:after {
  background: #00bac7
}
 .zxyz-zygz-box {
  padding-top: 16px;
  padding-bottom: 40px;
  max-width: 240px
}
 .zxyz-zygz-box h2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #889098;
  line-height: 1;
  margin-left: 20px
}
 .zxyz-zygz-box .zygz-list {
  margin-left: 20px;
  width: 204px;
}
 .zxyz-zygz-box li {
  padding-right: 16px;
  margin-bottom: 12px
}
 .zxyz-zygz-box .news-name {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #2a3839;
  line-height: 22px
}
 .zxyz-zygz-box .news-name:hover {
  color: #00bac7;
  text-decoration: none
}
 .zxyz-zygz-box .news-date {
  font-size: 14px;
  font-weight: 400;
  color: #889098;
  line-height: 22px
}

.m_s_r {
  position: relative;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 0 20px 30px;
  font-size: 16px;
  /* min-height: 100% */
}

.m_s_r a,.m_s_r a:link,.m_s_r a:visited {
  color: #00bac7
}

.m_s_r:before {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #e6e6e6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1
}

.m_s_r h2.line-title {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0
}

.m_s_r p {
  line-height: 1.8;
  text-indent: 2em;
  margin-bottom: 16px
}

.m_s_r .result-error a.btn_blue {
  width: auto;
  color: #fff
}

.m_s_r .result-error a.btn_blue:hover {
  background-color: #33c8d2
}

.m_s_r .result-error p {
  text-indent: 0;
  text-align: center;
  margin: 10px 0 0;
  font-size: 14px;
  font-weight: 400;
  color: #889098;
  line-height: 22px
}

.m_s_r .bg-list-ul {
  padding: 10px 20px;
  margin-bottom: 23px;
  line-height: 36px;
  background: #fafbfb;
  border-radius: 4px;
  color: #5f6666
}

.m_s_r .bg-list-ul li {
  position: relative;
  padding-left: 6px
}

.m_s_r .bg-list-ul li:before {
  content: " ";
  position: absolute;
  top: 16px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #a2adad
}

.m_s_r .img-lists {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px
}

.m_s_r .img-lists li {
  margin: 0 20px;
  text-align: center
}

.m_s_r .cntImg {
  margin-bottom: 20px
}

.m_s_r .cntImg img {
  margin: 0 auto;
  display: block
}

.m_s_r a.dcwjA {
  display: inline-block;
  width: 104px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  background: #fff;
  color: #2a3839;
  border: 1px solid #00bac7;
  border-radius: 5px;
  margin-top: 5px
}

.m_s_r a.dcwjA:hover {
  color: #00bac7;
  text-decoration: none
}

 .zxyz-tip-box {
  position: relative;
  margin: 26px auto 48px;
  padding: 15px 0 18px;
  background: #fff9f5;
  border-radius: 8px;
  font-size: 14px;
  color: #5b5c5c;
  text-align: center
}

 .zxyz-tip-box a.right-a {
  position: absolute;
  top: 18px;
  right: 20px;
  color: #5b5c5c
}

 .zxyz-tip-box a.right-a:hover {
  color: #00bac7;
  text-decoration: none
}

 .zxyz-tip-box h3 {
  line-height: 30px;
  font-size: 18px;
  color: #e7680b;
  margin-bottom: 5px
}

 .zxyz-tip-box p {
  text-indent: 0;
  padding: 0 92px;
  line-height: 22px;
  margin-bottom: 0
}

.search-zxzybg .content-item-warp {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  width: 656px;
  -ms-flex-align: center;
  align-items: center
}

.search-zxzybg .content-item-warp .value {
  margin-left: 12px;
  -ms-flex: 1;
  flex: 1
}

.search-zxzybg .content-item-warp .input_text {
  height: 44px;
  line-height: 44px;
  background: #fff;
  padding-left: 10px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  width: 100%;
  outline: none
}

.search-zxzybg .content-item-warp .input_text:focus {
  border-color: #00bac7
}

.search-zxzybg .content-item-warp .btn_blue {
  width: 100px;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
  background: #00bac7;
  border-radius: 0 4px 4px 0;
  color: #fff;
  border: none
}

.search-zxzybg .content-item-warp .btn_blue:hover {
  background-color: #33c8d2
}

.search-zxzybg .tips {
  width: 656px;
  margin: 16px auto;
  padding-left: 156px;
  font-size: 14px;
  line-height: 22px;
  color: #889098
}

 .alert-zxzybg-bg {
  margin: 6px 0 36px;
  padding-left: 36px;
  font-size: 14px;
  color: #889098
}

 .alert-zxzybg-bg p {
  line-height: 22px;
  text-indent: 0;
  margin-bottom: 6px
}


h5.sub_title {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  min-height: 38px
}

 .alert-zxzybg-bg {
  margin: 6px 0 36px;
  padding-left: 36px;
  font-size: 14px;
  color: #889098
}

 .alert-zxzybg-bg p {
  line-height: 22px;
  text-indent: 0;
  margin-bottom: 6px
}

 .alert-zxzybg-bg {
  margin: 6px 0 36px;
  padding-left: 36px;
  font-size: 14px;
  color: #889098
}

 .alert-zxzybg-bg p {
  line-height: 22px;
  text-indent: 0;
  margin-bottom: 6px
}

 .rzbg-link-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between
}

 .rzbg-link-wrap a.xlrzbg-link {
  display: block;
  width: 430px;
  height: 60px;
  line-height: 60px;
  background: #ecf7ff;
  border-radius: 4px;
  color: #2a3839;
  text-align: center
}

 .rzbg-link-wrap a.xlrzbg-link:hover {
  color: #00bac7;
  text-decoration: none
}

.zxyz-left-menu {
  padding: 18px 0 24px
}

.zxyz-left-menu:after {
  width: 0
}

.zxyz-left-menu .a_active {
  color: #00bac7;
  background-color: #fafbfb
}

.zxyz-left-menu a {
  font-size: 16px;
  line-height: 28px;
  padding: 13px 22px;
  border-bottom: 1px solid #e6e6e6;
  text-decoration: none
}

.zxyz-left-menu a:after {
  content: "";
  display: block;
  width: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: transparent
}

.zxyz-left-menu a.ivu-menu-item-active:not(.ivu-menu-submenu) {
  color: #00bac7;
  background-color: #fafbfb
}

.zxyz-left-menu a.ivu-menu-item-active:not(.ivu-menu-submenu):after {
  width: 5px
}

.zxyz-left-menu a:hover {
  color: #00bac7;
  background-color: #fafbfb
}

.zxyz-left-menu a:hover:after {
  background: #00bac7
}
/* .ui-box{
  display: flex;
  align-items: center;
} */

.ivu-menu {
  /* display:block; */
  /* margin:0; */
  /* padding:0; */
  /* outline:none; */
  /* list-style:none; */
  /* color:#2a3839; */
  /* font-size:14px; */
  position: relative;
  z-index: 900
}

.ivu-menu-horizontal {
  height: 60px;
  line-height: 60px
}

.ivu-menu-horizontal.ivu-menu-light:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #dcdee2;
  position: absolute;
  bottom: 0;
  left: 0
}

.ivu-menu-vertical.ivu-menu-light:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: #dcdee2;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1
}

.ivu-menu-light {
  background: #fff
}

.ivu-menu-dark {
  background: #515a6e
}

.ivu-menu-primary {
  background: #00bac7
}

.ivu-menu-item {
  display: block;
  outline: none;
  list-style: none;
  font-size: 14px;
  position: relative;
  z-index: 1;
  cursor: pointer;
  transition: all .2s ease-in-out
}

a.ivu-menu-item,a.ivu-menu-item:active,a.ivu-menu-item:hover {
  color: inherit
}

.ivu-menu-item>i {
  margin-right: 6px
}

.ivu-menu-submenu-title>i,.ivu-menu-submenu-title span>i {
  margin-right: 8px
}

.ivu-menu-horizontal .ivu-menu-item,.ivu-menu-horizontal .ivu-menu-submenu {
  float: left;
  padding: 0 20px;
  position: relative;
  cursor: pointer;
  z-index: 3;
  transition: all .2s ease-in-out
}

.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item,.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu {
  height: inherit;
  line-height: inherit;
  border-bottom: 2px solid transparent;
  color: #2a3839
}

.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item-active,.ivu-menu-light.ivu-menu-horizontal .ivu-menu-item:hover,.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu-active,.ivu-menu-light.ivu-menu-horizontal .ivu-menu-submenu:hover {
  color: #00bac7;
  border-bottom: 2px solid #00bac7
}

.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item,.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu {
  color: hsla(0,0%,100%,.7)
}

.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item-active,.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item:hover,.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu-active,.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu:hover,.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-item,.ivu-menu-primary.ivu-menu-horizontal .ivu-menu-submenu {
  color: #fff
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown {
  min-width: 100%;
  width: auto;
  max-height: none
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item {
  height: auto;
  border-bottom: 0;
  float: none
}

.ivu-menu-item-group {
  line-height: normal
}

.ivu-menu-item-group-title {
  height: 30px;
  line-height: 30px;
  padding-left: 8px;
  font-size: 12px;
  color: #999
}

.ivu-menu-item-group>ul {
  padding: 0!important;
  list-style: none!important
}

.ivu-menu-vertical .ivu-menu-item,.ivu-menu-vertical .ivu-menu-submenu-title {
  padding: 14px 24px;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: all .2s ease-in-out
}

.ivu-menu-vertical .ivu-menu-item:hover,.ivu-menu-vertical .ivu-menu-submenu-title:hover {
  color: #00bac7
}

.ivu-menu-vertical .ivu-menu-submenu-title-icon {
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%)
}

.ivu-menu-submenu-title-icon {
  transition: transform .2s ease-in-out
}

.ivu-menu-horizontal .ivu-menu-opened>*>.ivu-menu-submenu-title-icon {
  transform: rotate(180deg)
}

.ivu-menu-vertical .ivu-menu-opened>*>.ivu-menu-submenu-title-icon {
  transform: translateY(-50%) rotate(180deg)
}

.ivu-menu-vertical .ivu-menu-submenu-nested {
  padding-left: 20px
}

.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item {
  padding-left: 43px
}

.ivu-menu-vertical .ivu-menu-item-group-title {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  padding-left: 28px
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-group-title {
  color: hsla(0,0%,100%,.36)
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  color: #00bac7;
  background: #e6fffc;
  z-index: 2
}

.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):after {
  content: "";
  display: block;
  width: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: #00bac7
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item,.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title {
  color: hsla(0,0%,100%,.7)
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu),.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu):hover,.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu),.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu):hover {
  background: #363e4f
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item:hover,.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title:hover {
  color: #fff;
  background: #515a6e
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu),.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu-title-active:not(.ivu-menu-submenu) {
  color: #00bac7
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item:hover {
  color: #fff;
  background: transparent!important
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active,.ivu-menu-dark.ivu-menu-vertical .ivu-menu-submenu .ivu-menu-item-active:hover {
  border-right: none;
  color: #fff;
  background: #00bac7!important
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-child-item-active>.ivu-menu-submenu-title {
  color: #fff
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened {
  background: #363e4f
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-title {
  background: #515a6e
}

.ivu-menu-dark.ivu-menu-vertical .ivu-menu-opened .ivu-menu-submenu-has-parent-submenu .ivu-menu-submenu-title {
  background: transparent
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item {
  margin: 0;
  line-height: normal;
  padding: 7px 16px;
  clear: both;
  color: #2a3839;
  white-space: nowrap;
  list-style: none;
  cursor: pointer;
  transition: background .2s ease-in-out
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-focus,.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item:hover {
  background: #f3f3f3
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-disabled {
  color: #c5c8ce;
  cursor: not-allowed
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-disabled:hover {
  color: #c5c8ce;
  background-color: #fff;
  cursor: not-allowed
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-selected,.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-selected:hover {
  color: #00bac7
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-divided {
  margin-top: 5px;
  border-top: 1px solid #e8eaec
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-divided:before {
  content: "";
  height: 5px;
  display: block;
  margin: 0 -16px;
  background-color: #fff;
  position: relative;
  top: -7px
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item-enter {
  color: #00bac7;
  font-weight: 700;
  float: right
}

.ivu-menu-large .ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item {
  padding: 7px 16px 8px;
  font-size: 14px!important
}

@-moz-document url-prefix() {
  .ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item {
      white-space: normal
  }
}

.ivu-menu-horizontal .ivu-menu-submenu .ivu-select-dropdown .ivu-menu-item {
  padding: 7px 16px 8px;
  font-size: 14px!important
}
.zxyz-zygz-box .news-name {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #2a3839;
  line-height: 22px;
}
.XXXXXXXX{
  border: 1px solid #e6e6e6 !important;
}
.ivu-menu-item{
  color: #2a3839 !important;
}