.login-page {
	width: 100vw;
	height: 100vh;
	color: #666;
	font-size: 14px;
	margin: 0 auto;
	background-color: #fff;
}

.login-header {
	height: 78px;
	padding-top: 34px;
	background: url("https://t3.chei.com.cn/archive/images/common/logo-index.png") no-repeat;
	background-position: center;
}

.adm-input {
	border: 1px solid #dbdbdb;
	color: #000;
	padding: 12px 14px;
	width: 281.5px;
	margin: 16px auto;
}

.adm-button {
	width: 311.5px;
	margin-bottom: 16px;
}

.forget-password {
	margin: 0 auto;
	width: 311.5px;
	display: flex;
	justify-content: space-between;
}

.forget-password a {
	color: #333;
}

.login-footer {
	width: 100%;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	background-color: #f5f5f5;
	color: #999;
	font-size: 12px;
}

.footer-text {
	display: block;
	text-align: center;
	padding: 20px 0;
	height: 22px;
	line-height: 22px;
	background-color: #fff;
}

.login-footer .text {
	color: #999;
	font-size: 14px;
}

.login-footer .text span {
	margin: 0 10px;
}

.login-footer .text-name {
	color: #999;
	font-size: 12px;
}

.login-footer-text {
	padding: 10px;
}
