.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	/* background-color: #282c34;  */
	min-height: 100vh;
	/* display: flex; */
	/* flex-direction: column; */
	/* align-items: center; */
	/* justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: white;
	background: #fff;
}

.App-link {
	color: #61dafb;
}

html {
	font-size: 39px;
	color: #333;
	background-color: #fff;
}

body,
button,
input,
p,
select,
textarea {
	font: 14px/1.5 PingFang SC, Microsoft YaHei, Helvetica Neue, Arial, sans-serif ;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


h3 {
	color: #333;
}