.mian-box {
  height: 650px;
  min-width: 1100px;
  background: #d9eaf8 url('../../../static/img/part1_bg.png') repeat-x 0 586px;
}

.container {
  display: table;
  height: 100vh;
  width: 100%;
}

.child {
  display: table-cell;
  vertical-align: middle;
}
.index-right>a{
  padding: 0 10px;
  border-left: 1px solid #c1c1c1;
  line-height: 12px;
}
.index-right>a:first-child{
  border: none;
}

.index-title {
  width: 1100px;
  height: 68px;
  margin-top: 50px;
  background: url('../../../static/img/index-title.png') no-repeat center center;
}

.index-p1-img {
  height: 410px;
  padding-top: 60px;
  text-align: center;
  background: url('../../../static/img/part1.png') no-repeat center 60px;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}
.login-btn {
  background: #26b887;
  color: #fff;
  border: 1px solid #26b887;
  width: 166px;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}
.part1-person {
  width: 487px;
  height: 277px;
  margin: 0 auto;
  margin-top: -220px;
  background: url('../../../static/img/part1-person.png') no-repeat;
}
#menu{
  position: fixed;
  right: 20px;
  top: 50%;
  width: 170px;
  margin: -160px 0 0;
  padding: 0;
  list-style-type: none;
  z-index: 70;
  opacity: 0.75;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#menu li {
  width: 170px;

  margin-top: 10px;
  font: 14px "Microsoft Yahei";
  display: inline-block;
}
#menu a {
  display: block;
  padding: 10px 0;
  background-color: #eaf1f7;
  color: #4b6e91;
  text-align: center;
  text-decoration: none;
}
#menu .active {
  color: #fff;
  background-color: #4295e8;
}
.a-box{
  width: 200px !important;
  color: #333;
}