.xl-box{
    height: 378px;
}
.xj-l-m{
    padding: 10px 0;
}
.xxmc{
    height: 50px;
    width: 418px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    background: url('../../../../static/img/bg.png') ;
}
.xlbj{
    background: url('../../../../static/img/xlbj.png') ;

}