.nav {
	width: 100%;
	margin: 0 auto;
	line-height: 50px;
	font-size: 16px;
	background: #00bac7;
	color: #fff;
	overflow: hidden;
	display: flex;
}

.nav > ul {
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
}
ul {
	width: 1180px;
}
ul li {
	padding: 0 11px;
	cursor: pointer;
}
