.wap-nav-bar .logo {
	display: block;
	height: 0.704rem;
}

.wap-nav-bar.no-border {
	border-bottom: none;
}

.wap-nav-bar {
	position: relative;
	z-index: 1;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
	border-bottom: 1px solid #e8eaed;
}

a,
a:link,
a:visited {
	color: #323233;
	text-decoration: none;
}

.wap-nav-bar .wap-nav-bar__left {
	padding: 0 16px;
	display: flex;
	align-items: center;
}

.wap-nav-bar .wap-nav-bar__left img {
	width: 83px;
	height: 26px;
}

.wap-nav-bar .wap-nav-bar__right {
	padding: 0 16px;
	display: flex;
	align-items: center;
	color: #13161b;
}

.ch-nav {
	display: flex;
	align-items: center;
	width: 20px;
	height: 20px;
}

.ch-icon {
	position: relative;
	font: normal normal normal 14px/1 "ch-icon";
	font-size: inherit;
	text-rendering: auto;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
}

.ch-icon-wap-nav:before {
	display: inline-block;
	content: "\F0DD";
	cursor: pointer;
}

.index-part1 {
	background-color: #fff;
	padding: 0 15px 15px;
	text-align: left;
}

.index-part1 .news-part {
	border-radius: 0.107rem;
	margin-top: 10px;
	line-height: 25px;
	background: linear-gradient(180deg, #f9f9fc, #fff);
}

.index-part1 .swiper {
	height: 138px;
}

.index-part1 .swiper .swiper-img {
	width: 100%;
	height: 100%;
}

.index-part1 .news-part a {
	color: #263939;
}

.index-part1 .news-top-list {
	padding-top: 0.2rem;
	font-size: 0;
	line-height: 0;
}

.index-part1 .news-top-list .line01,
.index-part1 .news-top-list a,
.index-part1 .news-top-list br {
	display: none;
}

.index-part1 .news-top-list .font16 {
	font-size: 0;
}

.index-part1 .news-top-list .font16 a {
	font-size: 16px;
	line-height: 25px;
	padding: 7.5px 15px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.index-part1 .news-btm-list {
	padding: 7.5px 15px 0;
	font-size: 14px;
}

.index-part1 .news-btm-list a {
	padding-left: 8.5px;
}

.index-part1 .news-btm-list .news-item {
	position: relative;
	display: block;
	padding-left: 8.5px;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.index-part1 .news-btm-list .news-item:after {
	position: absolute;
	display: block;
	content: "";
	width: 4px;
	height: 4px;
	background: linear-gradient(133deg, #ff7b7f, #ffbc46);
	border-radius: 50%;
	top: 10.5px;
	left: 0;
	line-height: 25px;
}

.index-part1 a.colorBlue:visited,
.index-part1 a.colorBlue {
	color: #00bac7;
}

.index-part1 .news-more {
	font-size: 0.32rem;
	text-align: center;
}

.index-part1 .news-more a {
	color: #999;
}

.index-part1 .news-more i {
	vertical-align: -0.027rem;
}

.index-part2 {
	margin-top: 0.267rem;
	padding: 0.4rem;
	background-color: #fff;
}

.index-part2 img {
	display: block;
	width: 100%;
	border-radius: 0.107rem;
}

.bgUrl1,
.bgUrl2,
.bgUrl3,
.bgUrl4,
.bgUrl5,
.bgUrl6,
.bgUrl7,
.bgUrl8,
.bgUrl9 {
	display: block;
	margin: 0 auto;
	width: 40px;
	height: 40px;
	background-size: 100%;
}

.index-part3 .bgUrl1 {
	background-image: url("https://t3.chei.com.cn/chsi/assets/gb/wap/images/index/icon-xjxlxw.svg");
}
.index-part3 .bgUrl2 {
	background-image: url("https://t3.chei.com.cn/chsi/assets/gb/wap/images/index/icon-cgbj.svg");
}
.index-part3 .bgUrl3 {
	background-image: url("https://t3.chei.com.cn/chsi/assets/gb/wap/images/index/icon-xxda.svg");
}
.index-part3 .bgUrl4 {
	background-image: url("https://t3.chei.com.cn/chsi/assets/gb/wap/images/index/icon-gk.svg");
}
.index-part3 .bgUrl5 {
	background-image: url("https://t3.chei.com.cn/chsi/assets/gb/wap/images/index/icon-yz.svg");
}
.index-part3 .bgUrl6 {
	background-image: url("https://t3.chei.com.cn/chsi/assets/gb/wap/images/index/icon-mxgat.svg");
}
.index-part3 .bgUrl7 {
	background-image: url("https://t3.chei.com.cn/chsi/assets/gb/wap/images/index/icon-jy.svg");
}
.index-part3 .bgUrl8 {
	background-image: url("https://t3.chei.com.cn/chsi/assets/gb/wap/images/index/icon-zb.svg");
}
.index-part3 .bgUrl9 {
	background-image: url("https://t3.chei.com.cn/chsi/assets/gb/wap/images/index/icon-xzpt.svg");
}

.index-part3 {
	margin-top: 0.267rem;
	padding: 0.533rem 0.133rem;
	background-color: #fff;
}

.van-grid {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.index-part3 .van-grid-item {
	position: relative;
	box-sizing: border-box;
	height: 106px;
	width: 108px;
	flex-basis: 33.3333%;
	padding-right: 10px;
}

.index-part3 .van-grid-item__content {
	padding: 0;
	box-shadow: 0 0.067rem 0.267rem 0 hsla(0, 0%, 82%, 0.5);
	border-radius: 0.107rem;
	display: -ms-flexbox;
	text-align: center;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100%;
	flex-direction: column;
}

.index-part3 .van-grid-item__content a {
	display: block;
	padding: 15px 10px 10px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 0.107rem;
}

.index-part3 .van-grid-item__content .icon {
	display: block;
	margin: 0 auto;
	width: 1.067rem;
	height: 1.067rem;
	background-size: 100%;
}

.index-part3 .van-grid-item__content--center {
	-ms-flex-pack: start;
	justify-content: start;
}

.index-part3 .text {
	margin-top: 12px;
	font-size: 0.32rem;
	line-height: 15px;
	color: #2a3839;
}

.index-part4 {
	margin-top: 0.267rem;
	padding: 0.133rem 0.4rem;
	background-color: #fff;
}

.index-part4 .van-grid {
	border-bottom: 1px solid #eee;
}

.index-part4 .van-grid:last-child {
	border-bottom: none;
}

.index-part4 .van-grid-item__content {
	padding: 0.2rem 0.107rem;
	text-align: center;
}

.index-part4 .van-grid-item__content a {
	display: block;
	padding: 0.2rem 0.133rem;
}

.index-part4 .van-grid-item__content .icon {
	display: block;
	margin: 0 auto;
	width: 40px;
	height: 40px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-size: 100%;
}

.index-part4 .van-grid-item__content .van-image__img {
	height: auto;
}

.index-part4 .van-grid-item__content--center {
	-ms-flex-pack: start;
	justify-content: start;
}

.index-part4 .van-grid {
	border-bottom: 1px solid #eee;
}

.index-part4 .van-grid-item {
	flex-basis: 33.3333%;
	position: relative;
	box-sizing: border-box;
}

.index-part4 .text {
	margin-top: 12px;
	font-size: 0.32rem;
	line-height: 15px;
	color: #2a3839;
}

.index-part4 .bgUrl1 {
	background-image: url("https://t4.chei.com.cn/chsi/assets/gb/wap/images/index/icon-zxks.svg");
}
.index-part4 .bgUrl2 {
	background-image: url("https://t4.chei.com.cn/chsi/assets/gb/wap/images/index/icon-ycms.svg");
}
.index-part4 .bgUrl3 {
	background-image: url("https://t4.chei.com.cn/chsi/assets/gb/wap/images/index/icon-lwcx.svg");
}
.index-part4 .bgUrl4 {
	background-image: url("https://t4.chei.com.cn/chsi/assets/gb/wap/images/index/icon-dzcjdyz.svg");
}
.index-part4 .bgUrl5 {
	background-image: url("https://t4.chei.com.cn/chsi/assets/gb/wap/images/index/icon-jybrcw.svg");
}
.index-part4 .bgUrl6 {
	background-image: url("https://t4.chei.com.cn/chsi/assets/gb/wap/images/index/icon-dexsxw.svg");
}
.index-part4 .bgUrl7 {
	background-image: url("https://t4.chei.com.cn/chsi/assets/gb/wap/images/index/icon-dsrck.svg");
}
.index-part4 .bgUrl8 {
	background-image: url("https://t4.chei.com.cn/chsi/assets/gb/wap/images/index/icon-xqx.svg");
}

.index-part5 {
	margin: 0.267rem 0;
	padding: 0.533rem 0.4rem;
	background-color: #fff;
}

.index-part5 .index-media-top {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.index-part5 .index-media-top a {
	font-size: 0.32rem;
	line-height: 0.8rem;
	height: 0.8rem;
	color: #999;
}

.index-part5 .row-tit {
	position: relative;
	margin: 0 0 0.4rem;
	font-size: 18px;
	height: 0.827rem;
	line-height: 0.667rem;
	color: #2a3839;
}

.index-part5 .row-tit:after {
	position: absolute;
	display: block;
	content: "";
	width: 82px;
	height: 15px;
	background: linear-gradient(270deg, rgba(0, 222, 229, 0), #00bac7 100%, #00bac7 0);
	border-radius: 0.2rem;
	top: 0.427rem;
	left: 0;
	opacity: 0.2;
}

.index-part5 .van-grid {
	margin: 0 -0.267rem;
	padding-left: 10px;
}

.index-part5 .van-grid-item {
	flex-basis: 50%;
	padding-right: 10px;
	margin-top: 10px;
	position: relative;
	box-sizing: border-box;
}

.index-part5 .van-grid-item__content {
	-ms-flex-direction: row;
	flex-direction: row;
	text-align: left;
	-ms-flex-pack: left;
	justify-content: left;
	padding: 10px;
	line-height: 0.533rem;
	background: #f2f4f8;
	border-radius: 0.107rem;
	display: flex;
	align-items: center;
}

.index-part5 .van-grid-item__content .van-grid-item__text {
	color: #2a3839;
}

.index-part5 .van-grid-item__content img {
	display: block;
	width: 16px;
	height: 14px;
	margin-right: 5px;
}

.van-grid-item__icon-wrapper {
	position: relative;
}

.index-part5 .van-grid-item__text {
	font-size: 0.32rem;
}

.slider-wrap .van-swipe-item {
	border-radius: 0.107rem;
	overflow: hidden;
	width: 100%;
}

.slider-wrap .wap-swipe {
	transform: translateY(0);
	background: #fff;
	border-radius: 0.107rem;
	overflow: hidden;
}

.slider-wrap .wap-swipe img {
	display: block;
	width: 100%;
	border-radius: 0.107rem;
}

.link-pop-wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
}

.link-pop-wrapper .link-pop-cxt {
	position: relative;
	width: 8.267rem;
	min-height: 4rem;
	border-radius: 0.107rem;
	background-color: #fff;
}

.link-pop-wrapper .link-pop-cxt .ch-icon-cross {
	position: absolute;
	top: 0.187rem;
	right: 0.187rem;
	color: #b6b8bf;
}

.xjxl-link-pop {
	padding: 0.213rem 0 1.12rem;
}

.xjxl-link-pop .list-wrap {
	padding-top: 0.56rem;
}

.xjxl-link-pop .sub-tit {
	padding: 0 0.48rem 0.267rem;
	font-weight: 700;
	font-size: 0.453rem;
	line-height: 0.64rem;
}

.xjxl-link-pop .sub-tit img {
	width: 0.427rem;
	margin-right: 0.133rem;
	vertical-align: -0.053rem;
}

.xjxl-link-pop .van-row {
	padding: 0 0.28rem;
}

.xjxl-link-pop .van-row a {
	display: block;
	height: 0.48rem;
	margin: 0 0.2rem;
	padding: 0.16rem 0;
	text-align: center;
	line-height: 0.48rem;
	font-size: 0.347rem;
	color: #263939;
	background: #f3f4f8;
	text-decoration: none;
	border-radius: 0.107rem;
}

.xjxl-link-pop.dsk-pop .sub-tit {
	text-align: center;
	padding: 0.16rem 0 0.667rem;
}

.xjxl-link-pop.dsk-pop .sub-tit img {
	margin-right: 0.16rem;
}

.xjxl-link-pop.dsk-pop .van-row {
	padding: 0 0.28rem;
}

.xjxl-link-pop.dsk-pop .van-row a {
	display: inline-block;
	padding: 0.16rem 0.32rem;
	margin: 0 0.333rem;
}

.xjxl-link-pop.dsk-pop .van-row .van-col:first-child {
	text-align: right;
}

.xjxl-link-pop.ewm-pop {
	padding: 0 0 0.533rem;
}

.xjxl-link-pop.ewm-pop .sub-tit {
	font-weight: 400;
	text-align: center;
}

.xjxl-link-pop.ewm-pop .ewm-img-wrap {
	margin: 0.08rem auto 0.533rem;
	width: 4.667rem;
	height: 4.667rem;
	background-color: #fff;
}

.xjxl-link-pop.ewm-pop .ewm-img-wrap img {
	width: 100%;
}

.xjxl-link-pop.ewm-pop .ewm-footer {
	margin: 0 0.4rem;
	padding-top: 0.4rem;
	font-size: 0.427rem;
	color: #00bac7;
	line-height: 0.6rem;
	text-align: center;
	border-top: 0.013rem solid #e6e6e6;
}

.xjxl-link-pop.ewm-pop .ewm-footer img {
	width: 0.333rem;
	margin-right: 0.267rem;
	vertical-align: -0.027rem;
}

.h2-banner {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 2.667rem;
	font-size: 0.533rem;
	font-weight: 700;
	/* background: url(../images/h2-banner.jpg) no-repeat; */
	background-size: 100%;
}

.seach-wrap {
	padding: 0.133rem 0.56rem;
}

.seach-wrap .van-hairline--top-bottom:after,
.seach-wrap .van-hairline-unset--top-bottom:after {
	border-width: 0;
}

.seach-wrap .van-cell-group {
	border-bottom: 0.013rem solid #ebebeb;
}

.seach-wrap .van-cell-group .van-cell {
	padding: 0.533rem 0;
	font-size: 0.373rem;
	line-height: 0.533rem;
}

.seach-wrap .van-cell-group .van-field__label {
	color: #2a3839;
	width: 2.4rem;
	margin-right: 0;
}

.seach-wrap .van-cell-group--inset {
	margin: 0;
	border-radius: 0;
}

.seach-wrap .serch-btn {
	margin: 0.52rem 0 0.133rem;
	font-size: 0.4rem;
	height: 1.173rem;
	line-height: 1.12rem;
	border-radius: 0.053rem;
}

.seach-wrap .tip-title {
	margin: 0.4rem 0 0.133rem;
	font-size: 0.373rem;
	font-weight: 700;
	line-height: 0.533rem;
}

.seach-wrap .tip-text {
	font-size: 0.32rem;
	line-height: 0.507rem;
	margin-bottom: 0.133rem;
	color: #889098;
}

.seach-wrap a.green-link {
	font-size: 0.32rem;
	line-height: 0.44rem;
	color: #00bac7;
}

.seach-wrap .other-link-wrap {
	margin: 0.667rem -0.2rem 0.8rem;
}

.seach-wrap .other-link-wrap .van-col--8 {
	padding: 0.133rem 0.2rem;
}

.seach-wrap .other-link-wrap a {
	display: block;
	width: 2.693rem;
	height: 0.773rem;
	font-size: 0.32rem;
	line-height: 0.773rem;
	color: #2a3839;
	text-align: center;
	background: #eff8f9;
	border-radius: 0.107rem;
}

.seach-wrap .yz-code img {
	display: block;
}

.borderT {
	border-top: 0.267rem solid #f5f5f5;
}

.borderB {
	border-bottom: 0.267rem solid #f5f5f5;
}

.res-wrap {
	font-size: 0.373rem;
	line-height: 0.533rem;
}

.res-wrap .top-change {
	padding-top: 0.427rem;
	-ms-flex-align: center;
}

.res-wrap .lang-div,
.res-wrap .top-change {
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}

.res-wrap .lang-div {
	-ms-flex: 1;
	flex: 1;
	-ms-flex-align: center;
	font-size: 0.32rem;
}

.res-wrap .lang-div a {
	display: inline-block;
	color: #889098;
	padding: 0.16rem 0.213rem;
	line-height: 0.427rem;
	margin-right: 0.053rem;
	text-decoration: none;
}

.res-wrap .lang-div a:first-child {
	margin-left: 0.267rem;
}

.res-wrap .lang-div a.en-first-lang {
	margin-left: 0.053rem;
}

.res-wrap .lang-div a.current {
	color: #00bac7;
	background: #eff8f9;
	border-radius: 0.053rem;
}

.res-wrap .pdf-div {
	width: 0.347rem;
	height: 0.427rem;
	/* background: url(../images/download-icon.svg) no-repeat 50%; */
	background-size: 100%;
}

.res-wrap .card {
	padding: 0 0.427rem;
}

.res-wrap .res-h3 {
	margin: 0.667rem 0 0.533rem;
	text-align: center;
	font-size: 0.453rem;
	font-weight: 700;
	line-height: 0.64rem;
}

.res-wrap .divider {
	padding: 0.533rem 0;
}

.res-wrap .img-div {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 0.267rem;
}

.res-wrap .img-div img {
	width: 2.08rem;
	height: 2.933rem;
	border-radius: 0.053rem;
}

.res-wrap ul.img-right {
	padding-left: 0.4rem;
	padding-top: 0.067rem;
}

.res-wrap ul.img-right span.line {
	display: inline-block;
	width: 0.013rem;
	height: 0.373rem;
	background-color: #ebebeb;
	margin: 0 0.267rem;
	vertical-align: -2px;
}

.res-wrap ul.img-right li {
	margin-bottom: 0.213rem;
}

.res-wrap ul.img-right li:last-child {
	margin-bottom: 0;
}

.res-wrap .rowcard {
	padding-top: 0.333rem;
	padding-bottom: 0.333rem;
}

.res-wrap .rowcard .row {
	display: -ms-flexbox;
	display: flex;
	padding: 0.2rem 0;
}

.res-wrap .rowcard .col-left {
	width: 2.667rem;
	padding-right: 0.533rem;
	color: #889098;
	text-align: right;
}

.res-wrap .rowcard .col-right {
	-ms-flex: 1;
	flex: 1;
}

.res-wrap .no-enreport-tip {
	padding: 0.533rem;
	font-size: 0.373rem;
	line-height: 0.533rem;
}

.res-wrap .no-enreport-tip a {
	color: #00bac7;
}

.error-page {
	padding: 0 0.533rem;
}

.error-page a,
.error-page a:link,
.error-page a:visited {
	color: #00bac7;
}

.error-page a.btn_blue {
	margin-top: 0.4rem;
	display: inline-block;
	padding: 0 0.4rem;
	height: 0.853rem;
	line-height: 0.853rem;
	font-size: 0.347rem;
	color: #fff;
	background: #00bac7;
	border-radius: 0.053rem;
}

.error-page h2 {
	font-size: 0.373rem;
	line-height: 0.533rem;
}

.error-page p {
	font-size: 0.32rem;
	color: #889098;
	margin-top: 0.267rem;
}

.h3-tit {
	margin: 1.333rem 0 0.24rem;
	font-size: 0.533rem;
	font-weight: 700;
	line-height: 0.747rem;
	text-align: center;
}

.err-color {
	color: #f30;
}

.help-wrap {
	padding: 0.8rem 0.427rem;
	font-size: 0.373rem;
	line-height: 1.8;
}

.help-wrap .main_title,
.help-wrap h2.line-title {
	margin-bottom: 0.667rem;
	font-size: 0.533rem;
	line-height: 0.747rem;
	font-weight: 700;
	text-align: center;
}

.help-wrap .bg-list-ul {
	padding: 0.267rem 0.267rem 0.053rem;
	margin-bottom: 0.267rem;
	background: #fafbfb;
	border-radius: 0.053rem;
	color: #5f6666;
}

.help-wrap .bg-list-ul li {
	position: relative;
	padding-left: 0.213rem;
	margin-bottom: 0.213rem;
}

.help-wrap .bg-list-ul li:before {
	content: " ";
	position: absolute;
	top: 0.267rem;
	left: 0;
	width: 0.08rem;
	height: 0.08rem;
	border-radius: 50%;
	background-color: #a2adad;
}

.help-wrap .img-lists {
	text-align: center;
}

.help-wrap .img-lists li {
	margin-bottom: 0.373rem;
}

.help-wrap .wz-sub-tit {
	padding: 0.293rem 0 0.133rem;
	font-size: 0.427rem;
	font-weight: 700;
}

.help-wrap p {
	margin-bottom: 0.373rem;
}

.help-wrap .cntImg {
	padding-bottom: 0.373rem;
}

.help-wrap .h3-sub-tit {
	padding: 0.293rem 0 0;
	font-size: 0.427rem;
	font-weight: 700;
}

.help-wrap img {
	max-width: 100%;
}

.help-wrap .cxfw-page .line-title {
	margin-bottom: 0.373rem;
}

.help-wrap .cxfw-page .h3-sub-tit {
	margin-bottom: 0.133rem;
}

.help-wrap .brcxff-page h3 {
	font-size: 0.427rem;
	margin: 0.4rem 0 0.267rem;
}

.help-wrap .brcxff-page h4 {
	margin: 0.347rem 0 0.267rem;
}

.help-wrap a,
.help-wrap a:link,
.help-wrap a:visited {
	color: #00bac7;
}

.year-part {
	margin-top: 0.8rem;
	height: 0.8rem;
	overflow: hidden;
}

.year-part .year-wrap {
	display: -ms-flexbox;
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0 0.707rem;
}

.year-part .year-item {
	position: relative;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 2.04rem;
}

.year-part .year-item:last-child {
	-ms-flex: none;
	flex: none;
}

.year-part .year-item:last-child .year-item-tail {
	display: none;
}

.year-part .year-item.current-item .year-text {
	color: #00bac7;
}

.year-part .year-item.current-item .round {
	background: #00bac7;
}

.year-part .year-item .year-item-tail {
	width: 100%;
	height: 0.013rem;
	padding: 0 0.16rem;
	position: absolute;
	left: 0.12rem;
	bottom: 0.08rem;
	background-color: #e6e6e6;
}

.year-part .year-item .year-text {
	margin-bottom: 0.133rem;
	line-height: 1;
	font-size: 0.16rem;
	color: #333;
	cursor: pointer;
}

.year-part .year-item .round-wrap {
	position: relative;
	margin-left: 0.16rem;
	width: 0.707rem;
	height: 0.173rem;
	background-color: #fff;
	cursor: pointer;
}

.year-part .year-item .round {
	margin: 0 auto;
	width: 0.173rem;
	height: 0.173rem;
	background: #e6e6e6;
	border-radius: 50%;
}

.year-body-wrap {
	padding: 0 0.707rem 0.667rem;
}

.year-body {
	position: relative;
}

.year-body .cur-year {
	margin: 0.773rem 0 0.533rem;
	font-size: 0.533rem;
	line-height: 0.533rem;
	font-weight: 700;
	font-style: italic;
	color: #333;
}

.year-body li {
	display: -ms-flexbox;
	display: flex;
	line-height: 0.587rem;
	margin-bottom: 0.533rem;
	font-size: 0.32rem;
	color: #000;
}

.year-body li .left {
	width: 0.933rem;
	color: #999;
}

.year-body li .right {
	-ms-flex: 1;
	flex: 1;
}

.year-body .slide-left-enter,
.year-body .slide-right-leave-to {
	opacity: 0;
	transform: translateX(100%);
}

.year-body .slide-left-leave-to,
.year-body .slide-right-enter {
	opacity: 0;
	transform: translateX(-100%);
}

.year-body .slide-left-enter-active,
.year-body .slide-left-leave-active,
.year-body .slide-right-enter-active,
.year-body .slide-right-leave-active {
	transition: 1.5s;
	position: absolute;
	top: 0;
}

.wap-news {
	background-color: #fff;
	color: #13161b;
}

.wap-news .container {
	padding: 0.48rem 0.427rem 0.8rem;
}

.wap-news h1 {
	font-size: 0.64rem;
	line-height: 0.853rem;
	font-weight: 700;
}

.wap-news .pw-time {
	margin: 0.32rem 0 0.48rem;
	padding-bottom: 0.48rem;
	font-size: 0.373rem;
	line-height: 0.587rem;
	color: #8d949f;
	border-bottom: 1px solid #e8eaed;
}

.wap-news .flow-text {
	font-size: 0.48rem;
	line-height: 0.853rem;
	word-wrap: break-word;
	word-break: break-all;
}

.wap-news .flow-text p {
	margin-bottom: 0.48rem;
	text-indent: 0;
}

.news-list-wrap {
	padding: 0 0.427rem;
	background: #fff;
}

.news-list {
	padding: 0.32rem 0;
	border-bottom: 1px solid #e8eaed;
}

.news-list .title {
	font-size: 0.427rem;
	line-height: 0.64rem;
	color: #13161b;
}

.news-list .time {
	margin-top: 0.107rem;
	font-size: 0.32rem;
	color: #8d949f;
	line-height: 0.533rem;
}

.n_page .pagination {
	margin: 0.32rem 0.32rem 0.8rem;
	font-size: 0.373rem;
	color: #666;
}

.n_page .pagination,
.n_page .pagination li {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.n_page .pagination li {
	line-height: normal;
	margin: 0 0.107rem;
	border: 1px solid #d5d7db;
	border-radius: 0.08rem;
}

.n_page .pagination a {
	display: block;
	font-size: 0.373rem;
	padding: 0.16rem 0.213rem;
	color: #60656e;
}

.n_page .pagination a:hover {
	text-decoration: none;
}

.flow-text img {
	max-width: 100%;
}

.pswp img {
	min-width: 100%;
}

.my-nav {
	padding: 0.267rem 0.28rem;
	text-align: center;
}

.nav-items {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
	flex-wrap: wrap;
}

.nav-items-item {
	width: 33.33%;
}

.nav-items a {
	display: block;
	height: 36px;
	line-height: 36px;
	border-radius: 4px;
	margin: 0 5.5px 10px;
	font-size: 14px;
	color: #333;
	background: #f5f5f5;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.my-close-bar {
	height: 44px;
	padding: 0 16px;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: space-between;
}

.my-logo {
	width: 83px;
	height: 26px;
}

.my-ch-icon {
	position: relative;
	font: normal normal normal 14px/1 "ch-icon";
	font-size: inherit;
	text-rendering: auto;
	font-size: 0.533rem;
	-webkit-font-smoothing: antialiased;
}

.my-ch-icon-cross:before {
	display: inline-block;
	content: "\F042";
	cursor: pointer;
}
.new-r-list{
	width: 200px;
}

.van-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7)
}
.sub-tit {
    padding: 0 .48rem .267rem;
    font-weight: 700;
    font-size: .453rem;
    line-height: .64rem;
	color: #333;
	text-align: left;
	
}
.guajbi{
	text-align: right;
	margin-right: 5px;
}