html {
	font-family: "PingFang SC", "avenir_book", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	font-size: 14px;
	/* color: #5f5f5f; */
	background: #f8f8f8;
	min-width: 1200px;
}

#app {
	overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 400;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	font-style: normal;
	box-sizing: border-box;
}

.bor_dashed {
	border: 1px #00c8d7 dashed;
}

.bor_slide {
	border: 1px #00c8d7 solid;
}

.maxw1200 {
	padding: 0 30px;
	width: 1200px;
	margin: 0 auto;
}

.mar_cen {
	margin: 0 auto;
}

ul,
li {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	color: #00c8d7;
}

img {
	vertical-align: top;
}
.txt_white {
	white-space: nowrap;
}
.hid-one {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hid-two {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
}

.hid-three {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
}

.shadow {
	border: 1px solid #f5f5f5;
}

.shadows {
	box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.02);
}

.box-s {
	box-sizing: border-box;
}

.br0 {
	border-radius: 0px;
}

.br3 {
	border-radius: 3px;
}

.br5 {
	border-radius: 5px;
}

.br8 {
	border-radius: 8px;
}

.br50x {
	border-radius: 50%;
}

.w5x {
	width: 5%;
}

.w10x {
	width: 10%;
}

.w20x {
	width: 20%;
}

.w25x {
	width: 25%;
}

.w30x {
	width: 30%;
}

.w33x {
	width: 33.3%;
}

.w50x {
	width: 50%;
}

.w60x {
	width: 60%;
}

.w70x {
	width: 70%;
}

.w75x {
	width: 75x;
}

.w80x {
	width: 80%;
}

.w90x {
	width: 90%;
}

.w100x {
	width: 100%;
}

.w10 {
	width: 10px;
}

.w20 {
	width: 20px;
}

.w30 {
	width: 30px;
}

.w40 {
	width: 40px;
}

.w50 {
	width: 50px;
}

.w70 {
	width: 70px;
}

.w80 {
	width: 80px;
}

.w100 {
	width: 100px;
}

.w110 {
	width: 110px;
}

.w120 {
	width: 120px;
}

.w130 {
	width: 130px;
}

.w150 {
	width: 150px;
}

.w200 {
	width: 200px;
}

.w250 {
	width: 250px;
}

.w270 {
	width: 270px;
}

.w300 {
	width: 300px;
}

.w400 {
	width: 400px;
}

.w500 {
	width: 500px;
}

.h100x {
	height: 100%;
}

.h90x {
	height: 90%;
}

.h10 {
	height: 10px;
}

.h20 {
	height: 20px;
}
.h24 {
	height: 24px;
}
.h30 {
	height: 30px;
}

.h40 {
	height: 40px;
}

.h50 {
	height: 50px;
}

.h60 {
	height: 60px;
}

.h70 {
	height: 70px;
}

.h80 {
	height: 80px;
}

.h90 {
	height: 90px;
}

.h100 {
	height: 100px;
}
.h109 {
	height: 109px;
}

.h150 {
	height: 150px;
}

.h200 {
	height: 200px;
}

.h300 {
	height: 300px;
}

.h400 {
	height: 400px;
}

.h500 {
	height: 500px;
}

.mauto {
	margin: auto;
}

.ma0 {
	margin: 0;
}

.ma5 {
	margin: 5px;
}

.ma10 {
	margin: 10px;
}

.ma15 {
	margin: 15px;
}

.ma20 {
	margin: 20px;
}

.ma25 {
	margin: 25px;
}

.ma30 {
	margin: 30px;
}

.ma35 {
	margin: 35px;
}

.ma40 {
	margin: 40px;
}

.ma45 {
	margin: 45px;
}

.ma50 {
	margin: 50px;
}

.mt0 {
	margin-top: 0px;
}

.mt1 {
	margin-top: 1px;
}

.mt2 {
	margin-top: 2px;
}

.mt3 {
	margin-top: 3px;
}

.mt4 {
	margin-top: 4px;
}

.mt5 {
	margin-top: 5px;
}

.mt6 {
	margin-top: 6px;
}

.mt7 {
	margin-top: 7px;
}

.mt8 {
	margin-top: 8px;
}

.mt9 {
	margin-top: 9px;
}

.mt10 {
	margin-top: 10px;
}

.mt15 {
	margin-top: 15px;
}

.mt20 {
	margin-top: 20px;
}

.mt25 {
	margin-top: 25px;
}

.mt30 {
	margin-top: 30px;
}

.mt35 {
	margin-top: 35px;
}

.mt40 {
	margin-top: 40px;
}

.mt44 {
	margin-top: 44px;
}

.mt45 {
	margin-top: 45px;
}

.mt50 {
	margin-top: 50px;
}

.mb0 {
	margin-bottom: 0px;
}

.mb1 {
	margin-bottom: 1px;
}

.mb2 {
	margin-bottom: 2px;
}

.mb3 {
	margin-bottom: 3px;
}

.mb4 {
	margin-bottom: 4px;
}

.mb5 {
	margin-bottom: 5px;
}

.mb6 {
	margin-bottom: 6px;
}

.mb7 {
	margin-bottom: 7px;
}

.mb8 {
	margin-bottom: 8px;
}

.mb9 {
	margin-bottom: 9px;
}

.mb10 {
	margin-bottom: 10px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb20 {
	margin-bottom: 20px;
}

.mb25 {
	margin-bottom: 25px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb35 {
	margin-bottom: 35px;
}

.mb40 {
	margin-bottom: 40px;
}

.mb45 {
	margin-bottom: 45px;
}

.mb50 {
	margin-bottom: 50px;
}

.ml0 {
	margin-left: 0px;
}

.ml1 {
	margin-left: 1px;
}

.ml2 {
	margin-left: 2px;
}

.ml3 {
	margin-left: 3px;
}

.ml4 {
	margin-left: 4px;
}

.ml5 {
	margin-left: 5px;
}

.ml6 {
	margin-left: 6px;
}

.ml7 {
	margin-left: 7px;
}

.ml8 {
	margin-left: 8px;
}

.ml9 {
	margin-left: 9px;
}

.ml10 {
	margin-left: 10px;
}

.ml15 {
	margin-left: 15px;
}

.ml20 {
	margin-left: 20px;
}

.ml25 {
	margin-left: 25px;
}

.ml30 {
	margin-left: 30px;
}

.ml35 {
	margin-left: 35px;
}

.ml40 {
	margin-left: 40px;
}

.ml45 {
	margin-left: 45px;
}

.ml50 {
	margin-left: 50px;
}

.ml100 {
	margin-left: 100px;
}
.ml200 {
	margin-left: 200px;
}

.mr0 {
	margin-right: 0px;
}

.mr1 {
	margin-right: 1px;
}

.mr2 {
	margin-right: 2px;
}

.mr3 {
	margin-right: 3px;
}

.mr4 {
	margin-right: 4px;
}

.mr5 {
	margin-right: 5px;
}

.mr6 {
	margin-right: 6px;
}

.mr7 {
	margin-right: 7px;
}

.mr8 {
	margin-right: 8px;
}

.mr9 {
	margin-right: 9px;
}

.mr10 {
	margin-right: 10px;
}

.mr15 {
	margin-right: 15px;
}

.mr20 {
	margin-right: 20px;
}

.mr25 {
	margin-right: 25px;
}

.mr30 {
	margin-right: 30px;
}

.mr35 {
	margin-right: 35px;
}

.mr40 {
	margin-right: 40px;
}

.mr45 {
	margin-right: 45px;
}

.mr50 {
	margin-right: 50px;
}
.mr100 {
	margin-right: 100px;
}
.mr200 {
	margin-right: 200px;
}

.pa0 {
	padding: 0;
}

.pa5 {
	padding: 5px;
}

.pa10 {
	padding: 10px;
}

.pa15 {
	padding: 15px;
}

.pa20 {
	padding: 20px;
}

.pa25 {
	padding: 25px;
}

.pa30 {
	padding: 30px;
}

.pa35 {
	padding: 35px;
}

.pa40 {
	padding: 40px;
}

.pa45 {
	padding: 45px;
}

.pa50 {
	padding: 50px;
}

.pt0 {
	padding-top: 0px;
}

.pt1 {
	padding-top: 1px;
}

.pt2 {
	padding-top: 2px;
}
.m_r {
    padding-top: 40px;
}
.pt3 {
	padding-top: 3px;
}

.pt4 {
	padding-top: 4px;
}

.pt5 {
	padding-top: 5px;
}

.pt6 {
	padding-top: 6px;
}

.pt7 {
	padding-top: 7px;
}

.pt8 {
	padding-top: 8px;
}

.pt9 {
	padding-top: 9px;
}

.pt10 {
	padding-top: 10px;
}

.pt15 {
	padding-top: 15px;
}

.pt20 {
	padding-top: 20px;
}

.pt25 {
	padding-top: 25px;
}

.pt30 {
	padding-top: 30px;
}

.pt35 {
	padding-top: 35px;
}

.pt40 {
	padding-top: 40px;
}

.pt45 {
	padding-top: 45px;
}

.pt50 {
	padding-top: 50px;
}

.pt100 {
	padding-top: 100px;
}
.lscx-entry {
    padding-top: 30px;
}
.pb0 {
	padding-bottom: 0px;
}

.pb1 {
	padding-bottom: 1px;
}

.pb2 {
	padding-bottom: 2px;
}

.pb3 {
	padding-bottom: 3px;
}

.pb4 {
	padding-bottom: 4px;
}

.pb5 {
	padding-bottom: 5px;
}

.pb6 {
	padding-bottom: 6px;
}

.pb7 {
	padding-bottom: 7px;
}

.pb8 {
	padding-bottom: 8px;
}

.pb9 {
	padding-bottom: 9px;
}

.pb10 {
	padding-bottom: 10px;
}

.pb15 {
	padding-bottom: 15px;
}

.pb20 {
	padding-bottom: 20px;
}

.pb25 {
	padding-bottom: 25px;
}

.pb30 {
	padding-bottom: 30px;
}

.pb35 {
	padding-bottom: 35px;
}

.pb40 {
	padding-bottom: 40px;
}

.pb45 {
	padding-bottom: 45px;
}

.pb50 {
	padding-bottom: 50px;
}

.pl0 {
	padding-left: 0px;
}

.pl1 {
	padding-left: 1px;
}

.pl2 {
	padding-left: 2px;
}

.pl3 {
	padding-left: 3px;
}

.pl4 {
	padding-left: 4px;
}

.pl5 {
	padding-left: 5px;
}

.pl6 {
	padding-left: 6px;
}

.pl7 {
	padding-left: 7px;
}

.pl8 {
	padding-left: 8px;
}

.pl9 {
	padding-left: 9px;
}

.pl10 {
	padding-left: 10px;
}

.pl15 {
	padding-left: 15px;
}

.pl20 {
	padding-left: 20px;
}

.pl25 {
	padding-left: 25px;
}

.pl30 {
	padding-left: 30px;
}

.pl35 {
	padding-left: 35px;
}

.pl40 {
	padding-left: 40px;
}

.pl45 {
	padding-left: 45px;
}

.pl50 {
	padding-left: 50px;
}

.pl100 {
	padding-left: 100px;
}

.pl200 {
	padding-left: 200px;
}

.pr0 {
	padding-right: 0px;
}

.pr1 {
	padding-right: 1px;
}

.pr2 {
	padding-right: 2px;
}

.pr3 {
	padding-right: 3px;
}

.pr4 {
	padding-right: 4px;
}

.pr5 {
	padding-right: 5px;
}

.pr6 {
	padding-right: 6px;
}

.pr7 {
	padding-right: 7px;
}

.pr8 {
	padding-right: 8px;
}

.pr9 {
	padding-right: 9px;
}

.pr10 {
	padding-right: 10px;
}

.pr15 {
	padding-right: 15px;
}

.pr20 {
	padding-right: 20px;
}

.pr25 {
	padding-right: 25px;
}

.pr30 {
	padding-right: 30px;
}

.pr35 {
	padding-right: 35px;
}

.pr40 {
	padding-right: 40px;
}

.pr45 {
	padding-right: 45px;
}

.pr50 {
	padding-right: 50px;
}

.fs8 {
	font-size: 8px;
}

.fs10 {
	font-size: 10px;
}

.fs11 {
	font-size: 11px;
}

.fs12 {
	font-size: 12px;
}

.fs13 {
	font-size: 13px;
}

.fs14 {
	font-size: 14px;
}

.fs15 {
	font-size: 15px;
}

.fs16 {
	font-size: 16px;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}

.fs22 {
	font-size: 22px;
}

.fs24 {
	font-size: 24px;
}

.fs26 {
	font-size: 26px;
}

.fs28 {
	font-size: 28px;
}

.fs30 {
	font-size: 30px;
}

.fs32 {
	font-size: 32px;
}

.fs34 {
	font-size: 34px;
}

.fs36 {
	font-size: 36px;
}

.fs38 {
	font-size: 38px;
}

.fs40 {
	font-size: 40px;
}

.fs42 {
	font-size: 42px;
}

.fs44 {
	font-size: 44px;
}

.fs46 {
	font-size: 46px;
}

.fs48 {
	font-size: 48px;
}

.fs50 {
	font-size: 50px;
}

.fb {
	font-weight: 600;
}

.txt_c {
	text-align: center;
}

.txt_l {
	text-align: left;
}

.txt_r {
	text-align: right;
}

.txt_j {
	text-align: justify;
}

.va_t {
	vertical-align: top;
}

.va_m {
	vertical-align: middle;
}

.va_b {
	vertical-align: bottom;
}

.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.pf {
	position: fixed;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.t0 {
	top: 0;
}

.b0 {
	bottom: 0;
}

.l0 {
	left: 0;
}

.r0 {
	right: 0;
}

.db {
	display: block;
}

.dib {
	display: inline-block;
}

.dn {
	display: none !important;
}

.lin10 {
	line-height: 10px;
}

.lin15 {
	line-height: 15px;
}

.lin20 {
	line-height: 20px;
}

.lin25 {
	line-height: 25px;
}

.lin30 {
	line-height: 30px;
}

.lin35 {
	line-height: 35px;
}

.lin40 {
	line-height: 40px;
}

.lin45 {
	line-height: 45px;
}

.lin50 {
	line-height: 50px;
}

.lin55 {
	line-height: 55px;
}

.lin60 {
	line-height: 60px;
}

.lin70 {
	line-height: 70px;
}

.lin80 {
	line-height: 80px;
}

.lin90 {
	line-height: 90px;
}

.lin100 {
	line-height: 100px;
}

.lin400 {
	line-height: 400px;
}

.c_000 {
	color: #000;
}
.c_333 {
	color: #333333;
}
.c_3c {
	color: #3c3c3c;
}
.c_3c {
	color: #3c3c3c;
}
.c99e{
	color: #999999;
}
.c_444 {
	color: #444444;
}
.c_666 {
	color: #666;
}

.c_fff {
	color: #ffffff;
}

.bc_fff {
	background: #ffffff;
}

.c_ccc {
	color: #ccc;
}

.c_white {
	color: white;
}

.hover {
	cursor: pointer;
}

.vbh {
	visibility: hidden;
}

.ovh {
	overflow: hidden;
}

.ova {
	overflow: auto;
}

.zin9 {
	z-index: 9;
}

.zin99 {
	z-index: 99;
}

.zin999 {
	z-index: 999;
}

.dpf {
	display: flex;
}

.flex1 {
	flex: 1;
}

.flex2 {
	flex: 2;
}

.flex3 {
	flex: 3;
}

.flex4 {
	flex: 4;
}

.flex5 {
	flex: 5;
}

.flex6 {
	flex: 6;
}

.flex7 {
	flex: 7;
}

.flex8 {
	flex: 8;
}

.flex9 {
	flex: 9;
}

.flex10 {
	flex: 10;
}

.flex11 {
	flex: 11;
}

.flex12 {
	flex: 12;
}

.flex13 {
	flex: 13;
}

.flex14 {
	flex: 14;
}

.flex15 {
	flex: 15;
}

.g-cf:after {
	content: "";
	clear: both;
	display: table;
}

.g-cf {
	zoom: 1;
}

.center {
	align-items: center;
	text-align: center;
}

.op10 {
	opacity: 0.1;
}

.op20 {
	opacity: 0.2;
}

.op30 {
	opacity: 0.3;
}

.op40 {
	opacity: 0.4;
}

.op50 {
	opacity: 0.5;
}

.op60 {
	opacity: 0.6;
}

.op70 {
	opacity: 0.7;
}

.op80 {
	opacity: 0.8;
}

.op90 {
	opacity: 0.9;
}

.op100 {
	opacity: 1;
}

.flex_c {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fw {
	flex-wrap: wrap;
}
.jcc {
	justify-content: center;
}

.jcsb {
	justify-content: space-between;
}

.aic {
	align-items: center;
}

.fdc {
	flex-direction: column;
}

.txt_ind1 {
	text-indent: 1px;
}
.txt_ind2 {
	text-indent: 2px;
}
.txt_ind3 {
	text-indent: 3px;
}
.txt_ind4 {
	text-indent: 4px;
}
.txt_ind5 {
	text-indent: 5px;
}
.txt_ind6 {
	text-indent: 6px;
}
.txt_ind7 {
	text-indent: 7px;
}
.txt_ind8 {
	text-indent: 8px;
}
.txt_ind9 {
	text-indent: 9px;
}
.txt_ind10 {
	text-indent: 10px;
}

/*=========input默认文字的大小和颜色=========*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

/* 谷歌下的移除 移除除input type="number" */
:-moz-placeholder {
	color: #b4b5b6;
	font-size: 14px;
}

/* 火狐下的移除 移除除input type="number" */
input[type="number"] {
	-moz-appearance: textfield;
}

::-moz-placeholder {
	color: #b4b5b6;
	font-size: 14px;
}

input:-ms-input-placeholder {
	color: #b4b5b6;
	font-size: 14px;
}

input::-webkit-input-placeholder {
	color: #b4b5b6;
	font-size: 14px;
}

textarea:-ms-input-placeholder {
	color: #b4b5b6;
	font-size: 14px;
}

textarea::-webkit-input-placeholder {
	color: #b4b5b6;
	font-size: 14px;
}

.del {
	text-decoration: line-through;
}

.content-block {
	/* width: 1180px; */
	margin: 0 auto;
}
