.my-header{
    height: 45px;
}
.my-header a.logo {
    display: inline-block;
    width: 2.827rem;
    height: 0.533rem;
    margin-top: 0.32rem;
    background: url('../../../../images/logo.png') no-repeat;
    background-size: 100% 100%;
}

.vote-part .lxs-vote {
    color: #fa5050;
    background: #fff3f3 url('../../../../images/lxs-bg.png') no-repeat 6.48rem;
}
.vote-part .vote-jy-part {
    margin-top: 0.267rem;
    border-radius: 0.16rem;
    padding: 0.453rem 3.013rem 0.4rem 0.32rem;
    height: 1.28rem;
    background-size: 2.133rem;
}

.menu-part .zxyz-img {
    background-image: url('../../../../images/index-icon2.png');
}